.list-group-item.items-list {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

li.border-start {
  border-left: 3px solid green !important;
}

ul.border-radius-0 {
  border-radius: 0%;
}

.publish-all-dropdown.publish-all-dropdown-toggle::after {
  display: inline-block !important;
}

.publish-all-dropdown.publish-all-dropdown-toggle {
  font-size: 30px;
}

.show-arrow::after {
  display: inline-block !important;
}
