.wd-bg-yellow {
  background-color: yellow;
}

.wd-bg-red {
  background-color: red;
}

.wd-bg-blue {
  background-color: blue;
  margin-top: -16px;
}

.wd-bg-green {
  background-color: green;
}

.wd-bg-black {
  background-color: black;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

.wd-flex-row-container {
  display: flex;
  flex-direction: row;
}

.wd-flex-grow-1 {
  flex-grow: 1;
}
